*::before,
*::after,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #262626;
  font-family: sans-serif;
}
body [v-cloak] {
  display: none !important;
}
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  background-color: #262626;
}
body::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
  border: 3px solid #f1f1f1;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #262626;
}
body header {
  background-image: url("../Images/bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(80%);
  min-height: 800px;
}
body header .navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100px;
}
body header .navBar .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  text-decoration: none;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: #262626;
}
body header .navBar .nav .navItem {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 40px;
  height: 100%;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
  transition: all 0.35s;
}
body header .navBar .nav .navItem a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5rem;
  transition: all 0.35s;
}
body header .navBar .nav .navItem a:hover {
  cursor: pointer;
  color: #02c4ff;
  scale: 1.2;
}
body header .navBar .nav .navItem div .fa-user {
  transition: all 0.35s;
}
body header .navBar .nav .navItem div .fa-user:hover {
  cursor: pointer;
  color: #02c4ff;
  scale: 1.2;
}
body header .navBar .nav .navItem p:hover {
  transition: all 0.35s;
  cursor: pointer;
  color: #02c4ff;
  scale: 1.2;
}
body header .navBar .nav .navItem .dropDown {
  display: flex;
  flex-direction: column;
  background-color: #262626;
  position: absolute;
  top: 102px;
  left: 54vw;
  width: 400px;
  height: 200px;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  opacity: 95%;
}
body header .navBar .nav .navItem .dropDown ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}
body header .navBar .nav .navItem .dropDown ul li {
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 15px;
  text-align: center;
}
body header .navBar .nav .navItem .dropDown ul li:hover {
  background-color: #02c4ff;
  color: #262626;
  cursor: pointer;
  transition: all 0.35s;
}
body header .navBar .nav .navItem .dropDown ul a {
  border-radius: 15px;
}
body header .navBar .nav .navItem .dropDown ul a:hover {
  background-color: #02c4ff;
  color: #262626;
  cursor: pointer;
  transition: all 0.35s;
}
body header .navBar .nav .navItem .dropDown ul .disconnect {
  transition: all 0.35s;
}
body header .navBar .nav .navItem .dropDown ul .disconnect:hover {
  background-color: red;
  scale: 1.2;
}
body header .Title {
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header .Title .info a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
}
body header .Title .info a .info_resto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.7);
  -webkit-text-decoration: solid;
          text-decoration: solid;
}
body header .Title .info a .info_resto .name {
  font-size: 48px;
}
body header .Title .info a .info_resto .resto {
  font-size: 34px;
}
body header .Title .info a .logo span {
  color: #02c4ff;
  font-size: 48px;
}
body header .Title .burger {
  width: 50px;
  z-index: 999;
  color: #02c4ff;
}
body header .Title .burger:hover {
  cursor: pointer;
}
body header .Welcome {
  padding-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body header .Welcome h1 {
  font-size: 5rem;
  color: #02c4ff;
}
body header .Welcome h3 {
  font-size: 3rem;
  font-weight: 100;
  color: rgba(0, 195, 255, 0.9725490196);
}
body header .Welcome button {
  margin-top: 50px;
  padding: 10px 30px;
  font-size: 1rem;
  background-color: #02c4ff;
  font-weight: 600;
  border: 1px solid #02c4ff;
  transition: all 0.35s;
}
body header .Welcome button:hover {
  cursor: pointer;
  scale: 1.2;
}
body header .Welcome button:hover {
  cursor: pointer;
  color: #262626;
  background-color: #02c4ff;
}
body header .responsive_menu {
  background-color: #262626;
  position: absolute;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100vw - 18px);
  height: 800px;
}
body header .responsive_menu .img_resp {
  background-color: #262626;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body header .responsive_menu .img_resp img {
  max-width: 400px;
  border-radius: 10px;
}
body header .responsive_menu .img_resp #img2 {
  margin: -65px 0 0 150px;
  filter: opacity(80%);
}
body header .responsive_menu .img_resp #img3 {
  margin: -65px 0 0 320px;
  filter: opacity(75%);
}
body header .responsive_menu .inf_resp {
  height: 100%;
  width: 100%;
  background-color: #1f1d1d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body header .responsive_menu .inf_resp p {
  margin: 5px 0;
  font-size: 3rem;
  color: #bbbbbb;
}
body header .responsive_menu .inf_resp p:hover {
  color: #02c4ff;
  cursor: pointer;
}
body header .responsive_menu .inf_resp a {
  text-decoration: none;
}
body .modal {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-family: sans-serif;
  z-index: 1;
  justify-content: center;
  align-items: center;
}
body .modal .modal-content {
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(145deg, #262626, #02c4ff);
  padding: 20 px;
  width: 500px;
  height: 350px;
  border-radius: 10px;
  box-shadow: 0, 0, 10px, rgba(0, 0, 0, 0.2);
  max-width: 600px;
  max-height: 600px;
  position: relative;
}
body .modal .modal-content label {
  font-weight: bold;
}
body .modal .modal-content input {
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  width: 50%;
}
body .modal .modal-content .signIn {
  margin-top: 10px;
  padding: 10px;
  height: 50px;
  font-weight: bold;
  color: #ffffff;
  background-color: #262626;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
body .modal .modal-content .signIn:hover {
  scale: 1.2;
  color: #ffffff;
  background-color: #02c4ff;
}
body .modal .modal-content .signIn a {
  text-decoration: none;
  color: #ffffff;
}
body .modal .modal-content .signUp {
  margin-top: 10px;
  padding: 10px;
  height: 50px;
  font-weight: bold;
  background-color: #28a745;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
body .modal .modal-content .signUp:hover {
  scale: 1.2;
}
body .modal .modal-content .signUp a {
  text-decoration: none;
  color: #ffffff;
}
body .modal .modal-content span {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: crimson;
  z-index: 2;
}
body .about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 600px;
}
body .about .about_img .fruit_resp {
  display: none;
}
body .about .about_img img {
  max-width: 600px;
}
body .about .about_txt {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
body .about .about_txt .top {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .about .about_txt .top h2 {
  color: #02c4ff;
  font-size: 5rem;
}
body .about .about_txt .top h3 {
  margin: 20px 0;
  color: #ffffff;
  font-size: 2rem;
}
body .about .about_txt .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .about .about_txt .bottom span {
  color: #02c4ff;
  font-size: 2rem;
  font-weight: 600;
}
body .about .about_txt .bottom p {
  color: #ffffff;
}
body .about .about_txt .bottom p i {
  padding-left: 30px;
}
body .about .about_txt .bottom button {
  margin-top: 50px;
  padding: 10px 30px;
  font-size: 1rem;
  background-color: transparent;
  color: #02c4ff;
  font-weight: 600;
  border: 1px solid #02c4ff;
  transition: all 0.35s;
}
body .about .about_txt .bottom button:hover {
  cursor: pointer;
  scale: 1.2;
}
body .about .about_txt .bottom button:hover {
  cursor: pointer;
  color: #262626;
  background-color: #02c4ff;
}
body .Dishes {
  width: calc(100vw - 18px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}
body .Dishes div {
  width: 33%;
}
body .Dishes div img {
  max-width: 100%;
}
body .Dishes div div {
  display: none;
  position: absolute;
}
body footer {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body footer .info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-bottom: 50px;
}
body footer .info .info_resto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body footer .info .info_resto .name {
  font-size: 34px;
  color: #ffffff;
}
body footer .info .info_resto .resto {
  font-size: 18px;
  color: #ffffff;
}
body footer .info div {
  color: #02c4ff;
}
body footer .Contact {
  padding-bottom: 25px;
}
body footer .Contact a {
  color: #ffffff;
  text-decoration: none;
  font-size: 36px;
  margin: 0 5px;
}
body footer .Contact .fa-square-facebook:hover {
  color: #02c4ff;
  scale: 1.2;
  transition: all 0.35s;
}
body footer .Contact .fa-instagram:hover {
  color: #02c4ff;
  scale: 1.2;
  transition: all 0.35s;
}
body footer .Contact .fa-square-google-plus:hover {
  color: #02c4ff;
  scale: 1.2;
  transition: all 0.35s;
}
body footer .Contact .fa-youtube:hover {
  color: #02c4ff;
  scale: 1.2;
  transition: all 0.35s;
}
body footer p {
  font-size: 14px;
  color: #ffffff;
}
body h5 a {
  text-decoration: underline;
  color: #ffffff;
}

.signUp {
  font-family: sans-serif;
}
.signUp header .about {
  height: 200px;
}
.signUp .formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.signUp .formContainer u {
  font-weight: bolder;
  font-size: 1.5rem;
}
.signUp .formContainer form {
  background: linear-gradient(145deg, #262626, #02c4ff);
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  border-radius: 10px;
}
.signUp .formContainer form .radioInputs input {
  border: none;
}
.signUp .formContainer form .radioInputs span {
  font-weight: bold;
  text-align: center;
}
.signUp .formContainer form .moddedInputs {
  margin: 5px;
  width: 60%;
  height: 30px;
  border-radius: 5px;
  border: none;
  padding: 5px;
  font-size: 1.2rem;
}
.signUp .formContainer form label {
  margin: 5px;
  text-align: center;
}
.signUp .formContainer form .sub {
  margin: 10px;
  background-color: #262626;
  color: white;
  border: none;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  padding: 10px;
  font-weight: bolder;
  font-size: 1.2rem;
  transition: all 0.2s ease-in-out;
}
.signUp .formContainer form .sub:hover {
  cursor: pointer;
  background-color: forestgreen;
  scale: 1.1;
}
.signUp [v-cloak] {
  display: none;
}

.productsPage [v-cloak] {
  display: none !important;
}
.productsPage button {
  transition: all 0.2s ease-in-out;
}
.productsPage button:hover {
  color: white;
}
.productsPage header .about {
  height: 200px;
}
.productsPage .disclaimer {
  text-align: center;
  color: #ffffff;
  margin: 10px 0 30px 0;
}
.productsPage .disclaimer span {
  font-weight: bold;
  font-size: 1.5rem;
}
.productsPage .searchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  margin-bottom: 30px;
}
.productsPage .searchBar h2 {
  margin: 10px 0;
}
.productsPage .searchBar input {
  width: 40%;
  height: 50px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  margin: 10px 0;
  text-align: center;
  color: white;
}
.productsPage .categorySeeAll {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.productsPage .categorySeeAll .inputLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 1.5rem;
  width: 150px;
  border: 3px solid #02c4ff;
  border-radius: 15px;
  padding: 5px;
  transition: all 0.2s ease-in-out;
  text-align: center;
}
.productsPage .categorySeeAll .inputLabel:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #02c4ff;
}
.productsPage .categorySeeAll .inputLabel input {
  margin: 10px;
}
.productsPage .categoryBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.productsPage .radioInputs {
  display: flex;
  margin: 0 10px;
  flex: 1 0 150px;
}
.productsPage .radioInputs .inputLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 1.5rem;
  width: 150px;
  border: 3px solid #02c4ff;
  border-radius: 15px;
  padding: 5px;
  transition: all 0.2s ease-in-out;
  text-align: center;
}
.productsPage .radioInputs .inputLabel:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #02c4ff;
}
.productsPage .radioInputs .inputLabel input {
  margin: 10px;
}
.productsPage .inputsTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.5rem;
}
.productsPage .radioInputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.5rem;
}
.productsPage .radioInputs input {
  margin: 0 10px;
}
.productsPage .shoppingCart {
  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  border: 3px solid #ffffff;
  padding: 10px;
  border-radius: 15px;
  width: 45%;
  margin: 0 auto;
}
.productsPage .shoppingCart h3 {
  margin: 10px 0;
}
.productsPage .shoppingCart .btn-success {
  background-color: #28a745;
  transition: all 0.2s ease-in-out;
}
.productsPage .shoppingCart .btn-success:hover {
  scale: 1.2;
}
.productsPage button {
  margin: 5px 10px;
}
.productsPage .items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 6%;
  color: #ffffff;
}
.productsPage .items div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 400px;
  height: 400px;
  margin-bottom: 50px;
}
.productsPage .items div div {
  transition: all 0.2s ease-in-out;
}
.productsPage .items div div img {
  height: 300px;
  margin-bottom: 10px;
}
.productsPage .items div div .prodDetail {
  width: 100%;
}
.productsPage .items div div:hover {
  cursor: pointer;
  scale: 1.1;
}
.productsPage .detailsModal {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.productsPage .detailsModal .modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 10px;
  width: 700px;
  height: 700px;
  border-radius: 10px;
  box-shadow: 0, 0, 10px, rgba(0, 0, 0, 0.2);
  background-color: #262626;
  max-width: 800px;
  max-height: 800px;
  position: relative;
  font-weight: bold;
  font-size: 1.2rem;
}
.productsPage .detailsModal .modal-content p {
  text-align: center;
}
.productsPage .detailsModal .modal-content .close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: crimson;
  z-index: 2;
  border: 2px solid crimson;
  padding: 2px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
.productsPage .detailsModal .modal-content .close:hover {
  background-color: crimson;
  color: #ffffff;
}
.productsPage .detailsModal .modal-content button {
  transition: all 0.2s ease-in-out;
}
.productsPage .detailsModal .modal-content button:hover {
  cursor: pointer;
  scale: 1.2;
  color: white;
}
.productsPage .detailsModal .modal-content img {
  height: 450px;
  border-radius: 15px;
}

.crudBody {
  font-family: sans-serif;
}
.crudBody header .about {
  height: 200px;
}
.crudBody main {
  text-align: center;
  color: #ffffff;
}
.crudBody main table {
  margin: auto;
  font-size: 14px;
}
.crudBody main table .prodName {
  font-weight: bold;
  font-size: 16px;
}
.crudBody main table img {
  width: 100px;
}
.crudBody main table td,
.crudBody main table th {
  padding: 8px;
  border-collapse: collapse;
}
.crudBody main table th {
  border-bottom: 2px solid #ffffff;
}
.crudBody main input {
  width: 40%;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
}
.crudBody .btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}
.crudBody .btn-primary {
  background-color: #007bff;
  color: #fff;
}
.crudBody .btn-primary:hover {
  background-color: #0056b3;
}
.crudBody .btn-danger {
  background-color: #dc3545;
  color: #fff;
  margin-left: 10px;
}
.crudBody .btn-danger:hover {
  background-color: #c82333;
}
.crudBody .btn-success {
  background-color: #28a745;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 auto;
}
.crudBody .btn-success:hover {
  background-color: #1e7e34;
}
.crudBody .modal {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  justify-content: center;
  align-items: center;
}
.crudBody .modal .modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(145deg, #262626, #02c4ff);
  padding: 20px;
  width: 550px;
  height: 550px;
  border-radius: 10px;
  box-shadow: 0, 0, 10px, rgba(0, 0, 0, 0.2);
  max-width: 600px;
  max-height: 600px;
  position: relative;
}
.crudBody .modal .modal-content .picInput {
  width: 120%;
  text-align: center;
}
.crudBody .modal .modal-content label {
  font-weight: bold;
}
.crudBody .modal .modal-content input {
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 0 auto;
}
.crudBody .modal .modal-content h2 {
  margin: 10px;
}
.crudBody .modal .modal-content .confBtn {
  padding: 10px;
  margin-top: 10px;
  height: 50px;
  font-weight: bold;
}
.crudBody .modal .modal-content span {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: crimson;
  z-index: 2;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
  margin-left: 10px;
  transition: all 0.2s ease-in-out;
}
.btn-danger:hover {
  scale: 1.2;
}

.newCat {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 30px 0;
}
.newCat button {
  transition: all 0.2s ease-in-out;
  margin-bottom: 10px;
}
.newCat button:hover {
  color: #ffffff;
  scale: 1.2;
}
.newCat input {
  width: 40%;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
}

.userCRUD {
  font-family: sans-serif;
}
.userCRUD header .about {
  height: 200px;
}
.userCRUD #app {
  text-align: center;
  color: #ffffff;
}
.userCRUD #app table {
  margin: auto;
  font-size: 14px;
}
.userCRUD #app table td,
.userCRUD #app table th {
  padding: 8px;
  border-collapse: collapse;
}
.userCRUD #app table th {
  border-bottom: 2px solid #ffffff;
}
.userCRUD #app .userTable {
  margin-bottom: 70px;
}
.userCRUD #app .btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}
.userCRUD #app .btn-primary {
  background-color: #007bff;
  color: #fff;
}
.userCRUD #app .btn-primary:hover {
  background-color: #0056b3;
}
.userCRUD #app .btn-danger {
  background-color: #dc3545;
  color: #fff;
  margin-left: 10px;
  transition: all 0.2s ease-in-out;
}
.userCRUD #app .btn-danger:hover {
  scale: 1.2;
}
.userCRUD #app .btn-success {
  background-color: #28a745;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 auto;
}
.userCRUD #app .btn-success:hover {
  background-color: #1e7e34;
}
.userCRUD #app .modal {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  justify-content: center;
  align-items: center;
}
.userCRUD #app .modal .modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(145deg, #262626, #02c4ff);
  padding: 20 px;
  width: 500px;
  height: 350px;
  border-radius: 10px;
  box-shadow: 0, 0, 10px, rgba(0, 0, 0, 0.2);
  max-width: 600px;
  max-height: 600px;
  position: relative;
}
.userCRUD #app .modal .modal-content label {
  font-weight: bold;
}
.userCRUD #app .modal .modal-content input {
  border: none;
  border-radius: 5px;
  padding: 5px;
}
.userCRUD #app .modal .modal-content h2 {
  margin: 10px;
}
.userCRUD #app .modal .modal-content .confBtn {
  padding: 10px;
  margin-top: 10px;
  height: 50px;
  font-weight: bold;
}
.userCRUD #app .modal .modal-content span {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: crimson;
  z-index: 2;
}

.profilePage {
  color: #ffffff;
}
.profilePage .profilePicBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 10px;
}
.profilePage .profilePicBox input {
  width: 50%;
}
.profilePage .profilePicBox .btn-success {
  background-color: #28a745;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 auto;
  transition: all 0.2s ease-in-out;
}
.profilePage .profilePicBox .btn-success:hover {
  scale: 1.2;
}
.profilePage .profilePicBox .btn-danger {
  background-color: #dc3545;
  color: #fff;
  margin-left: 10px;
  transition: all 0.2s ease-in-out;
}
.profilePage .profilePicBox .btn-danger:hover {
  scale: 1.2;
}
.profilePage .profilePicBox img {
  height: 200px;
}
.profilePage .profile {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.profilePage .profile h2 {
  text-align: center;
  margin: 20px auto 20px;
}
.profilePage .profile h3 {
  margin: 20px auto 20px;
}
.profilePage .profile .profileCard {
  width: 100%;
  justify-content: center;
  text-align: center;
}
.profilePage .profile .userOrders {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}
.profilePage .profile .userOrders .orderHistory {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.profilePage .profile .userOrders .orderHistory .orderCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid white;
  border-radius: 15px;
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 10px;
}
.profilePage .profile .userOrders .orderHistory .orderCard .awaiting {
  color: crimson;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 10px;
}
.profilePage .profile .userOrders .orderHistory .orderCard .delivered {
  color: #28a745;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 10px;
}

.hiden {
  display: none !important;
}

.TermOfUse {
  color: #ffffff;
  padding: 10%;
}
.TermOfUse h2 {
  color: #02c4ff;
  font-size: 5rem;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.orderPage {
  color: white;
}
.orderPage img {
  width: 100px;
}
.orderPage h1 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 50%;
  margin: 0px auto 0px;
  transition: all 0.2s ease-in-out;
}
.orderPage .ourCart {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 50%;
  margin: 25px auto 25px;
  transition: all 0.2s ease-in-out;
}
.orderPage .ourCart:hover {
  color: #02c4ff;
  scale: 1.2;
}
.orderPage .cart {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.orderPage .cart .cartItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  width: 30%;
  transition: all 0.2s ease-in-out;
}
.orderPage .cart .cartItem:hover {
  cursor: pointer;
  scale: 1.1;
}
.orderPage .cart .cartItem img {
  width: 100px;
  margin-right: 30px;
}
.orderPage .cart .cartItem .cartItemActions button {
  background-color: crimson;
  transition: all 0.2s ease-in-out;
  margin-left: 10px;
}
.orderPage .cart .cartItem .cartItemActions button:hover {
  color: #ffffff;
}
.orderPage .cart .cartCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  width: 90%;
}
.orderPage .cart .cartCard .orderPrice {
  display: flex;
  width: 45%;
}
.orderPage .cart .cartCard .orderPrice .logoCart {
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.orderPage .cart .cartCard .orderPrice .fa-stack {
  transition: all 0.2s ease-in-out;
}
.orderPage .cart .cartCard .orderPrice .fa-stack:hover {
  cursor: pointer;
  scale: 1.2;
  color: #02c4ff;
}
.orderPage button {
  transition: all 0.2s ease-in-out;
}
.orderPage button:hover {
  cursor: pointer;
  scale: 1.2;
}
.orderPage .keepShopping {
  margin: 30px;
}
.orderPage .keepShopping button {
  padding: 10px 20px;
  background-color: #02c4ff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}
.orderPage .orderPrice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 3px solid white;
  border-radius: 15px;
  padding: 30px;
}
.orderPage .orderPrice button {
  padding: 10px 20px;
  font-weight: bold;
}

.orderHistory {
  color: #ffffff;
}
.orderHistory h1 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
.orderHistory div .order {
  border: 3px solid white;
  border-radius: 15px;
  width: 35%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.orderHistory div .order .awaiting {
  color: crimson;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 10px;
}
.orderHistory div .order .delivered {
  color: #28a745;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 10px;
}
.orderHistory div .order .orderInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 15px;
}
.orderHistory div .order .orderInfo .orderN {
  font-weight: bold;
  font-size: 1.4rem;
}
.orderHistory div .order .orderDetails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 30px;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 15px;
}
.orderHistory div .order .orderDetails .prodName {
  font-weight: bold;
  font-size: 1.2rem;
}

.ordersCrud {
  color: #ffffff;
}
.ordersCrud h2 {
  text-align: center;
}
.ordersCrud button {
  transition: all 0.2s ease-in-out;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.1rem;
}
.ordersCrud button:hover {
  scale: 1.2;
  color: #ffffff;
}
.ordersCrud .btn-success {
  background-color: #28a745;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.ordersCrud .btn-success:hover {
  scale: 1.2;
  color: #ffffff;
}
.ordersCrud section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.ordersCrud section .orderBox {
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  border: 3px solid white;
  padding: 5px;
  border-radius: 15px;
  gap: 10px;
}
.ordersCrud section .orderBox .awaiting {
  color: crimson;
  font-weight: bold;
  font-size: 22px;
}
.ordersCrud section .orderBox .delivered {
  color: #28a745;
  font-weight: bold;
  font-size: 22px;
}

.contact-form {
  background-color: #262626;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}
.contact-form h2 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #ffffff;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #272727;
  background-color: #555555;
  border-radius: 4px;
  width: 100%;
}

button {
  background-color: #02c4ff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #02c4ff;
  color: black;
  scale: 1.02;
  box-shadow: black;
}

@media only screen and (max-width: 1280px) {
  body header .responsive_menu .img_resp {
    display: none;
  }
  body .about {
    width: calc(100wh - 40px - 32px);
    margin-top: 100px;
    flex-direction: column;
  }
  body .about .about_txt {
    display: none;
  }
  body .about .about_img .fruit_resp {
    display: block;
    flex-direction: column;
  }
  body .about .about_img .non_resp {
    display: none;
  }
  body .about .about_img img {
    max-width: 450px;
  }
}
@media only screen and (max-width: 800px) {
  body .Dishes div {
    width: 100%;
  }
  body .Dishes div div {
    display: none;
  }
  body .Dishes div:hover div {
    display: block;
    padding: 22% 40%;
  }
}