<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style.css">
	<title>Document</title>
</head>
<body>
<div id="app">


<form v-if="loginModal" v-cloak>
	<span @click="closeLoginModal">X</span>
	<br>
	<label for="">Nom utilisateur</label>
	<input type="text" v-model="userName">
	<label for="">Mot de passe</label>
	<input type="text" v-model="password">

	<input type="submit" value="connecter" @click.prevent="login()">
</form>

<button @click="charles()">connexion</button>



</div>




	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="add.js"></script>
</body>
</html>